
<h2 class="log-heads">Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label class="logs" for="username">Username</label>
  <input id="username" class="log-forms" type="text" name="username" placeholder="Ironhacker">

  <br><br>

  <label class="logs" for="password">Password</label>
  <input id="password" class="log-forms" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="form-button log-forms">Log in</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Sign up</a>
  </p>
</form>
