<h2 class="log-heads">Sign up</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label class="logs" for="username">Username</label>
  <input id="username" class="log-forms" type="text" name="username" placeholder="Ironhacker">

  <br><br>

  <label class="logs" for="password">Password</label>
  <input id="password" class="log-forms" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="form-button log-forms">Create account</button>


<div>
  <p class="account-message">
    Already have an account?
    <a href="/auth/login"> Log in</a>
  </p>
  </div>
</form>
