<div class="about-us-container">
    <img src="/images/logo.jpg" id="logo-about-us" alt="Toi Let's Do Good logo">

    <h1>Find a toilet, fund a toilet</h1>

    <p>We are a small app designed to help the average person find and navigate to the perfect restroom. Inspired by
        European bathroom-gratuity culture and its society with a growing need for clean and inclusive amenities, Toi
        Let's
        Do Good was created with a user in mind. </p>

    <p>The idea is simple: allow the map's geolocater to access your current location. Use the search???? to filter by
        need:
        accessibility, blah, blah. Orrrr,
        select a rated bathroom and navigate to its location, or click its profile to read more details.
    </p>

    <p>Users can additionally log in to rate their own toilet. Have you experienced the perfect restroom hideaway? Got a
        bathroom hack? Did you witness something so terrible that it has to be shared with the restroom-using world?
        Make an
        account and add your own bathroom to the map, with the additional advantage and ability to edit and delete this
        in
        the future. Rate a toilet. Your friends will thank you.</p>

    <p>Toi Let's Do Good also allows the user to donate a small (or large!) portion of money to a designated website
        designed to build sanitary facilities in countries that currently lack them. With your small contribution and
        our
        app, </p>

    <h3>Toi Let's Do Good</h3>

    <div class="button-container">

        <a class="button" href="/donate">Donate</a>
        <a class="button" href="/">Back to map</a>

    </div>


</div>