<div id='map' style='width: 200px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibG9yZWxvcmUyMiIsImEiOiJjazJ6eWFlOWIwZGdvM2xxajE1cWtwNW40In0.XRygCDceol4DCypWeqb0cg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [13.407906, 52.504156],
    zoom: 10
  });

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  }));


  let marker = new mapboxgl.Marker({
        draggable: true,
        color: "green" 
        // set coordinates for marker, place on map:
    }).setLngLat([13.40, 52.52]).addTo(map);

    marker.on("dragend", () => {
      const lngLat = marker.getLngLat();
      console.log(lngLat)
      map.flyTo({center: lngLat})

    
      axios.post('/api/points', {
       coordinates: [lngLat.lng, lngLat.lat]
      }).then(response => {
        {{!-- console.log(response) --}}
      }).catch(err => {
        {{!-- console.log(err) --}}
      })
      })

    const getMarkers = () => {
      axios.get('/api/points').then(response => {
        response.data.forEach(point => {
          new mapboxgl.Marker().setLngLat(point.coordinates).addTo(map)
        })
      }).catch(err => {
        console.log(err)
      })
    }

getMarkers();




</script>