{{#if toilets}}
<h1 class="log-heads">My added toilets</h1>
{{else}}
<p>No toilets to display!</p>
{{/if}}

{{#each toilets}}
<div class="toilet-list">
  <a  href="/toilets/{{_id}}">{{toiletType}} Toilet {{location}}</a>

</div>


{{/each}}